<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="js/jquery-1.10.1.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src="js/backbone-firebase.js" type="text/javascript"></script>
  <!--<script src="https://api.intel.com:8081/js/location/v2/intelmaps.js" type="text/javascript"></script>-->
  <script src="https://api.intel.com:8081/js/v1/intel.cloudservices.js"></script>
  <script src="js/vo.js"></script>
</head>
<body>
<h1 id="statusBox"></h1>
<button type="button" onclick="login()">Login</button><br/>
<button type="button" onclick="logout()">Logout</button>
<!--button type="button" onclick="sendMail('dmanary@gmail.com', 'nope', 'nope')">Mail</button>-->
<br/>
<br/>
<div id="events">
  <div>
    <h1>Make a new event</h1>
    <input id="new-event-name" type="text" placeholder="Event name">
    <input id="new-event-time" type="text" placeholder="Event time">
    <input id="new-event-day" type="text" placeholder="Event day">
    <input id="new-event-month" type="text" placeholder="Event month">
    <input id="new-event-year" type="text" placeholder="Event year"><br/>
    <input id="new-event-loc" type="text" placeholder="Address">
    <input id="new-event-state" type="text" placeholder="State">
    <button type="button" id="new-event-create" >Create Event</button>
  </div>
  <section id="main">
    <ul id="event-list">
    </ul>
  </section>
</div>
<script type="text/template" id="events-template">
Name of event: <%= name %><br/>
Date of event (yyyy\mm\dd): <%= year %>\<%= month %>\<%= day %><br/>
Owner of event: <%= owner %>
</script>
</body>
